In [1]:
import pandas as pd
data=pd.read_csv("../Inputs/data/raw_data/BrentOilPrices.csv")

In [2]:
data.head(100)

         Date  Price
0   20-May-87  18.63
1   21-May-87  18.45
2   22-May-87  18.55
3   25-May-87  18.60
4   26-May-87  18.63
..        ...    ...
95  01-Oct-87  18.50
96  02-Oct-87  18.65
97  05-Oct-87  18.78
98  06-Oct-87  18.60
99  07-Oct-87  18.58

[100 rows x 2 columns]